<% include layouts/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/picup.css">
  <div class="main">
    <form class="jumbotron container" action="/pic-upload/<%=list.name%>/<%=list.add_no%>" method="POST" autocomplete="off" enctype="multipart/form-data">
    	<div align="center" role="alert" class="alert alert-primary" style="display: <%= typeof list.msg != 'undefined' ? 'block' : 'none' %>">
	    	<%= typeof list.msg != 'undefined' ? list.msg : '' %>
	    </div>
    <div class="row justify-content-between">
    <div class="col-6">
        <div class="form-group">
        <label for="sname">Student Name</label>
        <p><%=list.name%></p>
        </div>
        <div class="form-group">
          <label for="add_no">Application Number</label>
          <p><%=list.add_no%></p>
        </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="upimg">Select Image</label>
        <input type="file" class="form-control-file" id="upimg" name="profileImage">
      </div>
    </div>
	</div>
	<br>
	<br>
	 <div style="margin-left: 70%;">
	  	<a class="btn btn-danger" href="/students/modify/<%=list.add_no%>/<%=list.name%>">Cancel</a>
		<button type="submit" class="btn btn-primary" >Submit</button>
	  </div>
    </form>
</div>
<% include layouts/footer.ejs %>